.transaction {
    background-color: #63666A;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.address_input {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #02675e;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
}

.button {
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #02675e;
    background-color: #039487;
    margin: 20px auto;
    color: white;
    font-size: 22px;
    font-weight: 700;
    transition: .3s;
}

.button:hover{
    background-color: #02675e;
    color: white;
    cursor: pointer;
}

.heading {
    margin: 0 auto;
    width: fit-content;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
